<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New</title>
    <link rel="stylesheet" href="{{url_for('static',filename='static/styles.css')}}">
    <script src="{{url_for('static', filename='static/script.css')}}"></script>
  </head>
  <body>
    <h1>this is the New page</h1>
    <a href="/"> index.html</a>
    <a href="/ninjas"> ninjas.html</a>
    <form class="form1" action="" method="post">
      <input type="field" name="name" value="" placeholder="name : ">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
